/* /* Global Styles 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 5px 50px;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width:1200px;
   
    
   
}
section{
    margin-top: 8%;
    
}
section p{
    padding:0 50px;
}

.menu-toggle{
font-size: 24px;
}

.food{
    font-size: 24px;
}

.mail-link {
    text-decoration: none;
    font-size: 24px;
    color: black;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    padding: 20px 80px;
  
}

.post {
    text-align: center;
    padding: 2%;
    
}

.post img {
    width: 273px;
    height: 409px;
}

h2 {
    font-size: 20px;
    margin: 10px 0;
}


.pagination {
    text-align: center;
    margin: 20px 0;
    padding: 10px 0 50px 0;

}
a:hover{
    background-color: black
}


.pagination a {
    margin: 0 5px;
    text-decoration: none;
    background-color: white;
    color: black;
}

.pagination .active {
    font-weight: bold;
}

.about {
    text-align: center;
    padding:20px;
    margin-top: 20px;
}

.about img {
height: 532.993px;
width: 800px;
margin-top: 15px;
}
.about h2{
    padding: 15px 0 15px 0;
}

footer {
    background-color: white;
    color: #171717;
}

hr{
    margin: auto 80px;
    opacity: 0.2;
}