/* /* Global Styles 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 5px 50px;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width:1200px;
   
    
   
}
section{
    margin-top: 8%;
    
}
section p{
    padding:0 50px;
}

.menu-toggle{
font-size: 24px;
}

.food{
    font-size: 24px;
}

.mail-link {
    text-decoration: none;
    font-size: 24px;
    color: black;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    padding: 20px 80px;
  
}

.post {
    text-align: center;
    padding: 2%;
    
}

.post img {
    width: 273px;
    height: 409px;
}

h2 {
    font-size: 20px;
    margin: 10px 0;
}


.pagination {
    text-align: center;
    margin: 20px 0;
    padding: 10px 0 50px 0;

}
a:hover{
    background-color: black
}


.pagination a {
    margin: 0 5px;
    text-decoration: none;
    background-color: white;
    color: black;
}

.pagination .active {
    font-weight: bold;
}

.about {
    text-align: center;
    padding:20px;
    margin-top: 20px;
}

.about img {
height: 532.993px;
width: 800px;
margin-top: 15px;
}
.about h2{
    padding: 15px 0 15px 0;
}

hr{
    margin: auto 80px;
    opacity: 0.2;
    margin-top: 60px;
}
/* footer */
footer {
   
    color: #171717;
    text-align: center;
    padding-right: 100px;
    padding-left: 100px;
    display: block;
    margin: 0px;
    height: 283.8px;
   
}
.footer-content{
  
    display:flex;
    justify-content:space-between;
    
}
.one{
    border: 5px;
    width: 45%;
    padding: 0 8px 0 8px;
    
    
}
.one h1 {
    color: black;
    text-align: left;
    font-weight: 100;
    
    margin:  10px 0 10px 0;
    font-size: 24px;
}
a{
    color: black;
    
}


.child-footer{
    text-align: left;
}

.two{
   
    width: 33%;
    align-items: center;
    color: black;
    padding: 0 8px 0 8px;
    height:  219.8px;
    width: 383.987px;
    font-size: 15px;
    display: block;
    float: left;
 
    
}
.two h1 {
    color: black;
    text-align: left;
 
    font-size: 24px;
    line-height: 34px;
    margin: 10px 0 10px 0;
    font-weight: 100;
}
.two p{
    text-align: left;
    top: 0;
}
.three{
  
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 0 8px 0 8px;
    font-size: 15px;
    margin: 10px 0 10px 0;
   
    
}
.three h1{
    color: black;
    text-align: left;
 
    font-size: 24px;
    line-height: 34px;
    margin: 10px 0 10px 0;
    font-weight: 100;
}


footer img{
    width: 50px;
    height: 50px;
    padding: 0 20px;
    
}
.child, .child-2{
    display: flex;
    padding: 10px;
   /* border-spacing: 10px 10px; */
    
}
.child:hover{
    background-color: #e9e7e7;
    
}
.child-2:hover{
    background-color: #e9e7e7;
}
.three div div {
    display: flex;
    justify-content: space-around;
}

.tags p{
    background-color:  #616161;
    color: white;
    padding: 2px 5px;
    font-size: 12px;
    font-family: serif;
    display: inline-block;

}
#changes{
    background-color: black;
    color: white;
}
